svg {
  width: 80vmin;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  transition: 0.15s ease-out;
  &:hover {
    opacity: 1;
  }
}
body {
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}
canvas {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}